<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Мой сайт</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <div class="logo">stx.xd</div>
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Обо мне</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </nav>

    <div class="hero">
        <h1>Привет, я <span>{{ name }}</span> 👾</h1>
        <p>Мой первый Flask-сайт. Только начинаю — но уже круто.</p>
        <a href="#" class="btn">Погнали 🔥</a>
    </div>

    <div class="cards">
        <div class="card">⚡ Python</div>
        <div class="card">🌐 Flask</div>
        <div class="card">🎨 CSS</div>
    </div>
</body>
</html>